@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ==== Variable ==== */

:root {
    --primary: #3b82f6;
    --secondary: #eab308;
}

/* ==== Reset ==== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ==== Layout & Utils ==== */

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 4fr;
    grid-template-rows: 150px 1fr;
}

header {
    grid-column: 2 / 3;
}

nav {
    grid-row: 1 / 3;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

.container .projects {
    grid-row: 1 / 3;
}

.container .announcements {
    grid-column: 2 / 3;
}

.container .trending {
    grid-column: 2 / 3;
}

.projects .all-content {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-auto-rows: 250px;
    gap: 40px;
}

/* ==== Sidenav ==== */
#sidenav {
    background-color: var(--primary);
    color: white;
    position: sticky;
}

#sidenav .logo {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    margin-bottom: 1rem;
}

#sidenav .logo span {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 10px;
}

#sidenav ul {
    padding: 10px;
}

#sidenav ul li {
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

#sidenav ul li:hover {
    background-color: #eab308;
    border-radius: 10px;
}

#sidenav ul li .iconify {
    margin-right: 10px;
}

/* ==== Header ==== */
header {
    padding: 15px 20px;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.4);
}

header .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header .main-nav .search {
    display: flex;
    align-items: center;
}

header .main-nav .search input {
    width: 40vw;
    padding: 5px 15px;
    background-color: #ccc;
    border: none;
    border-radius: 8px;
}

header .main-nav .profile {
    display: flex;
    align-items: center;
}

header .main-nav .profile .user {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

header .user-avatar {
    color: var(--secondary);
}

header .main-nav .iconify {
    font-size: 1.5rem;
    margin-right: 20px;
}

header .welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .welcome .profile-menu {
    display: flex;
    align-items: center;
}

header .welcome .user-avatar {
    font-size: 5rem;
    margin-right: 15px;
}

header .welcome .welcome-text h1 {font-size: 1.5rem;}

header .welcome .action-menu .cta-btn{
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 90px;
    margin-right: 10px;
    background-color: var(--primary);
    color: white;
}

/* ==== Main Content ==== */
/* content */
.container {
    padding: 30px 20px;
}

.container .leading{
    font-size: 1.2rem;
    font-weight: 500;
}

.container .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 1px 8px 1px rgba(0,0,0,0.3);
}

.container .projects .card-project {
    border-left: 6px solid var(--secondary);
    padding: 30px 20px;
    margin: 10px 20px 20px 0;
    position: relative;
    overflow: hidden;
}

.container .projects .card-project h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

.container .projects .card-project p {
    font-size: 1rem;
    font-weight: 300;
    margin: 10px 0;
}

.card-project .card-cta {
    position: absolute;
    display: flex;
    right: 20px;
}

.card-project .card-cta > * {
    margin-right: 15px;
}

.card-project .card-cta li {
    cursor: pointer;
}

/* Announcements */
.card-announcement {
    padding: 30px 40px;
    margin-top: 10px;
}

.card-announcement .announcement-item {
    padding: 20px 0;
}

.card-announcement .announcement-item h1 {
    font-size: 1.2rem;
}

.card-announcement .announcement-item p {
    font-size: 1rem;
    font-weight: 300;
}

.announcement-item:nth-child(2) {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/* Trending */
.card-trending {
    margin: 10px 0;
    padding: 30px 40px;
}

.trending ul li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.trending-project .iconify {
    font-size: 2rem;
    margin-right: 20px;
}

.trending-project .title .leading {
    display: block;
}

/* Responsive navbar trigger */
.active {
    display: none;
}

@media (max-width: 960px) {
    header {
        grid-column: 1 / 3;
    }

    nav {
        position: absolute;
        margin-left: -200px;
    }

    main {
        grid-column: 1 / 3;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .projects {
        grid-column: 1/3;
    }


    .projects .all-content {
        grid-template-columns: 1fr;
    }

    .container .announcements {
        grid-column: 1 / 3;
    }
    
    .container .trending {
        grid-column: 1 / 3;
    }
}

@media (max-width: 550px) {

    .container {
        grid-template-columns: 1fr;
    }

    .projects .all-content {
        grid-template-columns: 1fr;
    }

}